.carousel {
    padding: 81px 0;
    min-height: 840px;
    // &_inner {
    //     position: relative;
    //     width: 750px;
    //     margin: 0 auto;
    // }
    // .slick-prev {
    //     position: absolute;
    //     border: none;
    //     background-color: #fff;
    //     top: 50%;
    //     transform: translateY(-50%);
    //     left: -66px;
    //     img {
    //         width: 30px;
    //         height: 50px;
    //     }
    // }
    // .slick-next {
    //     position: absolute;
    //     border: none;
    //     background-color: #fff;
    //     top: 50%;
    //     transform: translateY(-50%);
    //     right: -66px;
    //     img {
    //         width: 30px;
    //         height: 50px;
    //     }
    // }
    // .tns-item {
    //     img {
    //         display: block;
    //         margin: 0 auto;
    //     }
    // }
    .owl-carousel {
        position: relative;
        width: $slider-width;
        margin: 0 auto;
        .slider-img {
            transform: translateY(20%);
        }
        .owl-nav {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border: none;
            padding: 0;
            background-color: #fff;
            top: 50%;
            transform: translateY(-50%);
            .owl-prev1 {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-color: #fff;
                border: none;
                left: -66px;
                img {
                    width: 30px;
                    height: 50px;
                    background-color: #fff;
                }
            }
            .owl-next1 {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-color: #fff;
                border: none;
                left: -100px;
            }
        }
    
    }
    
    


}
.newblock {
    min-height: 1000px;
    background-color: #000;
}